th,td         { vertical-align: top; text-align: right; font-size: large;}
#converted    {color: red; font-weight: bold; font-size: large;          }
input         {
                text-align: right;  /*lo que metas a la derecha*/
                border: none;
                border-radius: 20px 20px 20px 20px; /*bordes redondeados*/
                padding: 5px 5px;
                font-size: large;
              }
body          {
                background-color: #b0c4d3; /*azul*/
                font-size: large;
                font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
              }
h1            {
                font-weight: normal;
                font-family: "Brush Script MT", cursive;
                background: #3C5681;
                padding: 5px 15px;
                color: white;
                display:inline-block;
                border-radius: 10px 10px 10px 10px;
              }
